* {
  box-sizing: border-box;
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

body {
  text-align: center;
  margin: 0;
  overflow: hidden;
  position: relative;
}

/* score and bonus points */
#score-wrapper {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translate(-50%);
  z-index: 999;
}

.bonus-points {
  position: absolute;
  top: 0;
  left: 15px;
  z-index: 999;
}

/* timer bar */
#progress-bar {
  position: absolute;
  width: 102px;
  height: 15px;
  border-radius: 10px;
  top: 15px;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1px;
  background-color: white;
  border: 1px black solid;
  z-index: 999;
}

#progress {
  border-radius: 10px;
  height: 100%;
  width: 50%;
  background-color: green;
}

/* tree segments */
.trunk {
  width: 150px;
  height: 80px;
  margin: 0 auto;
  border-right: 5px solid black;
  border-left: 5px solid black;
  background-color: brown;
  display: inline-block;
  /* inline element displays weird behavior
     if element has no content.
     user vertical-align to control alignment
  */
  vertical-align: bottom;
}

.branch-wrapper {
  width: 150px;
  display: inline-block;
  /* inline element displays weird behavior
     if element has no content.
     user vertical-align to control alignment
  */
  vertical-align: bottom;
}

.branch {
  width: 100%;
  height: 15px;
  background-color: brown;
}

.banana-placeholder {
  width: 50px;
  height: 50px;
  margin: 0 auto;
}

.banana {
  background: url("../img/banana.jpg") no-repeat;
  background-size: contain;
}

.rotten-banana {
  background: url("../img/rotten_banana.jpg") no-repeat;
  background-size: contain;
}

.empty-branch {
  width: 150px;
  height: 15px;
  display: inline-block;
  /* inline element displays weird behavior
     if element has no content.
     user vertical-align to control alignment
  */
  vertical-align: bottom;
}

.left-branch, .right-branch {
  margin: 0;
}

/* user actions */
#user-keys {
  margin-top: 150px;
}

.arrows {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  margin: 0 30px;
}

#left-arrow {
  border-right: 80px solid black;
}

#right-arrow {
  border-left: 80px solid black;
}

#spacebar {
  width: 300px;
  height: 80px;
  background-color: black;
  display: inline-block;
  vertical-align: top;
}

#spacebar p {
  color: white;
  line-height: 80px;
  margin: 0;
}

/* monkey image */
#monkey-start, #monkey-left, #monkey-right {
  background: url("../img/monkey-start.png") no-repeat;
  background-size: contain;
  margin: 0 auto;  
  position: absolute;
  width: 100px;
  height: 100px;
  left: 50%;
}

#monkey-start {
  transform: translate(-50%, -50%);
  bottom: 50px;
}

#monkey-left {
  bottom: 250px;
   /* half of trunk + half of branch + half of self 
      translate wrt center of page
   */
  transform: translate(-200px);
  display: none;
}

#monkey-right {
  bottom: 250px;
  /* half of trunk + half of branch - half of self 
     translate wrt center of page
  */
  transform: translate(100px);
  display: none;
}  

#game-over {
  display: none;
}
