* {
  box-sizing: border-box;
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

body {
  text-align: center;
  margin: 0;
  overflow: hidden;
  position: relative;
}

/* score and bonus points */
#score-wrapper {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translate(-50%);
  z-index: 999;
}

.bonus-points {
  position: absolute;
  top: 0;
  left: 15px;
  z-index: 999;
}

/* energy bar */
#progress-bar {
  position: absolute;
  width: 102px;
  height: 15px;
  border-radius: 10px;
  top: 15px;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1px;
  background-color: white;
  border: 1px black solid;
  z-index: 999;
}

#progress {
  border-radius: 10px;
  height: 100%;
  width: 50%;
  background-color: green;
}

/* tree segments */
.trunk {
  width: 50px;
  height: 150px;
  margin: 0 auto;
  background-color: #9a4d00;
  display: inline-block;
  /* inline element displays weird behavior
     if element has no content.
     user vertical-align to control alignment
  */
  vertical-align: bottom;
}

.branch-wrapper {
  width: 120px;
  display: inline-block;
  /* inline element displays weird behavior
     if element has no content.
     user vertical-align to control alignment
  */
  vertical-align: bottom;
}

.branch {
  width: 120px;
  height: 50px;
  border-bottom: 15px solid #9a4d00;
  z-index: -2;
  position: relative;
}

.left-branch {
  border-bottom-left-radius: 100%;
}

.right-branch {
  border-bottom-right-radius: 100%;
}

.leaves {
  width: 120px;
  height: 40px;
  border-radius: 50px;
  background: green;
  position: relative;
  display: inline-block;
  z-index: -1;
}

.leaves:before, .leaves:after {
  content: "";
  background: green;
}

.leaves:before {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  position: absolute;
  top: -15px;
  left: 15px;
}

.leaves:after {
  width: 55px;
  height: 55px;
  border-radius: 200px;
  position: absolute;
  top: -25px;
  left: 45px;
}

.leaves-right {
  left: 40px;
  top: 20px;
}

.leaves-left {
  right: 40px;
  top: 20px
}

.banana-placeholder {
  width: 30px;
  height: 30px;
  margin: 0 auto;
}

.banana-placeholder-left {
  transform: translate(-50px,40px);
}

.banana-placeholder-right {
  transform: translate(50px,40px);
}

.banana {
  background: url("../img/apple-edited.png") no-repeat;
  background-size: contain;
}

.rotten-banana {
  background: url("../img/apple-rotten.png") no-repeat;
  background-size: contain;
}

.empty-branch {
  width: 120px;
  height: 15px;
  display: inline-block;
  /* inline element displays weird behavior
     if element has no content.
     user vertical-align to control alignment
  */
  vertical-align: bottom;
}

/* user actions */
#user-keys {
  margin-top: 100px;
}

.arrows {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  margin: 0 20px;
}

#left-arrow {
  border-right: 60px solid black;
}

#right-arrow {
  border-left: 60px solid black;
}

#spacebar {
  width: 180px;
  height: 60px;
  background-color: black;
  display: inline-block;
  vertical-align: top;
}

.user-keys {
  cursor: pointer;
}

/* user cue: mimic pressing of key */
.user-keys:hover {
  transform: translateY(-4px);
}

.user-keys:active {
  transform: translateY(4px);
}

#spacebar p {
  color: white;
  line-height: 60px;
  font-size: 14px;
  margin: 0;
}

/* monkey image */
#monkey-start, #monkey-left, #monkey-right {
  background: url("../img/monkey-start.png") no-repeat;
  background-size: contain;
  margin: 0 auto;  
  position: absolute;
  width: 100px;
  height: 100px;
  left: 50%;
}

#monkey-start {
  transform: translate(-50%, -50%);
  bottom: 50px;
}

#monkey-left {
  bottom: 250px;
   /* half of trunk + half of branch + half of self 
      translate wrt center of page
   */
  transform: translate(-200px);
  display: none;
}

#monkey-right {
  bottom: 250px;
  /* half of trunk + half of branch - half of self 
     translate wrt center of page
  */
  transform: translate(100px);
  display: none;
}  

#game-over {
  display: none;
}
